<script id="icartSideCartMinJs" type="text/javascript" async="false" src="https://cdnicart.identixweb.com/react_build/icart.bundle.js"></script>
<style>.icartShopifyCartContent {visibility: unset;}</style>

<div class="icart icart-datepicker icart-slipper "></div>
<link rel="stylesheet" id="icartMinCss" type="text/css" href="https://cdnicart.identixweb.com/assets/css/icart_fronted.min.css" media="all">