<div class="testimonial-wrapper">
  <div class="wrapper">
    <div class="testimonial">
      <div class="star"></div>
      <h3></h3>
      <p></p>
      <h4></h4>
      <span class="date"></span>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Testimonials",
    "settings": [{
      "type":"text",
      "id":"heading",
      "label":"Heading",
      "default":"Heading"
    }],
    "blocks":[
      {
        "type":"tesimonial",
        "name":"Tesimonial",
        "settings":[
          {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default":"Heading"
          },
          {
            "type":"textarea",
            "id":"info",
            "label":"Review"
          },
          {
            "type":"text",
            "id":"name",
            "label":"Name",
            "default":"Name"
          },
          {
            "type":"text",
            "id":"date",
            "label":"Date",
            "default":"06/07/2022"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "category": "Custom layout",
        "blocks": [
          {
            "type": "tesimonial",
            "type": "tesimonial",
            "type": "tesimonial"
          }
        ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}