<div class="testimonial-wrapper">
  <div class="wrapper">
    <div class="testimonial">
      <div class="star"></div>
      <h3></h3>
      <p></p>
      <h4></h4>
      <span class="date"></span>
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}