<section class="bundle-wrapper">
  <div class="wrapper">
    <div class="bundle-wr">
      {% for block in section.blocks %}
      <div class="bundl">
        <a href="{{ block.settings.link }}"></a>
        <img src="{{ block.settings.image | img_url:'' }}" />
        <h4>{{ block.settings.name }}</h4>
        <p>{{ block.settings.info }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% schema %}
  {
    "name": "Section name",
    "settings": [],
    "blocks": [
        {
          "type": "bundle",
          "name": "Bundle",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
              "type": "text",
              "id": "name",
              "label": "Bundle Name"
            },
            {
              "type": "textarea",
              "id": "info",
              "label": "Bundle Info"
            },
            {
              "type": "url",
              "id": "link",
              "label": "Link"
            }
          ]
        }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}