
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>


 <div class="test-wrapper">
      <div class="swiper-wrapper responsive">
        <div class="swiper-slide">
         <h1>test 1</h1>
        </div>
        <div class="swiper-slide">
         <h1>test 2</h1>
        </div>
        <div class="swiper-slide">
          <h1>test 3</h1>
        </div>
        <div class="swiper-slide">
         <h1>test 4</h1>
        </div>
        <div class="swiper-slide">
         <h1>test 5</h1>
        </div>
        <div class="swiper-slide">
         <h1>test 6</h1>
        </div>
         <div class="swiper-slide">
         <h1>test 7</h1>
        </div>
      </div>
</div>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
  $('.responsive').slick({
  dots: true,
  infinite: false,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 4,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
  ]
});
</script>
{% schema %}
  {
    "name": "Swiper Slider",
    "settings": [],
    "presets":[
      {
        "name":"Swiper Slider"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}