.slide__item-content h2 { font-size: 60px; line-height: 65px; font-weight: 600; }
.slide__item-content a.button { padding: 15px 20px; font-size: 17px; line-height: 30px; font-weight: 400; margin-top: 30px; text-transform: capitalize; }
.slide__item-content p { font-size: 18px; line-height: 30px; font-weight: 600; margin-top: 15px; }
.flex-data.grid img.card__image { position: relative; width: auto; height: auto; object-fit: contain; object-position: center; }
.collection-list-updated header { margin-bottom: 50px; }
.collection-list-updated .flex-data > .grid__item { width: calc(100%/3); padding: 0; }
.collection-list-updated .flex-data > .grid__item h3 { font-size: 18px; line-height: 30px; margin-top: 15px !important; }
.collection-list-updated .flex-data > .grid__item h3>a { font-weight: 600 !important;}
.btn-primary {
    padding: 15px 25px !important;
    font-size: 17px;
    line-height: 30px;
    margin-top: 10px;
    text-transform: capitalize !important;
    text-decoration: none;
    background-color: #fe3d05;
    border-color: #fe3d05;
    color: #ffffff !important;
    display: inline-block !important;
    border-radius: 4px;
}
.gallery-box-wr figcaption.below h3 { font-size: 22px; line-height: 30px; font-weight: 700; letter-spacing: -1px; margin: 20px 0 10px !important; }