.contain-site-width, .wrapper { max-width: 1400px !important; }
/* Header */

span.icon.icon-search svg { width: 20px; height: 20px; }
a#CartButton svg { width: 22px; height: 22px; }


a#CartButton span#CartCount { position: absolute; right: -10px; background: #FC01FF; width: 20px; height: 20px; border-radius: 50%; top: -5px; text-align: center; font-size: 10px; line-height: 22px; color: #fff; }
header.util a#CartButton:hover svg path, header.util a#CartButton:focus svg path { fill: #000; }
@media(min-width:700px){
    header.site-header .layout-horizontal { top: -15px; }
    a#CartButton { position: absolute; padding: 0 !important; border: none !important; bottom: -38px; right: 0; }
    header.util li.search-wrap{position: absolute; right: 20px; bottom: -42px;}
    header.site-header .layout-horizontal nav.nav-bar { padding-right: 10%; }
}
@media(max-width:1400px){
    .contain-site-width, .wrapper { max-width: unset!important; width: 96%; margin: 0 auto; }
    .contain-site-width>.wrapper { width: 100%; }
    a#CartButton { right: 3%; }
    header.util li.search-wrap {right: 5%;}
    .slideshow .contain-full-width.no-padding .wrapper { width: 100%; }
    .slide__item-content.justify-center .inner-wrapper .content-contain { max-width: 75%; }
    .flex-data.grid { margin: 0; }
    footer.site-footer .box.trust-badge,footer.site-footer .box.payment-types { border: none; }
}
@media(max-width:900px){
    .slideshow-carousel.flickity-enabled .flickity-viewport { min-height: 400px; }
    .slideshow-carousel.flickity-enabled .flickity-viewport .slide__item-image, .slide__item-image-contain.desktop { height: 100% !important; }
    .section-standard { padding: 0; }

    footer.site-footer .grid { flex-wrap: wrap; }
    footer.site-footer .grid .box { width: 50% !important; margin-bottom: 30px; }
    .bottom-bar { top: -15px; }
}
@media(max-width:700px){
    .gallery-section figure { width: 100%; max-width: unset !important; }
    .gallery-section .contain-site-width{ width: 100%; }
    .featured-row.section-standard .contain-site-width { width: 100%; padding: 0; }
    .gallery-section .contain-site-width .grid__item { margin-bottom: 50px; }
    .gallery-section .contain-site-width .grid__item figcaption.below { width: 96%; margin: 0 auto; }
    .featured-row.section-standard .contain-site-width .feature-row__item.feature-row__text { text-align: center; padding: 30px 0; width: 96%; }
}




.slideshow .contain-full-width.no-padding .wrapper { max-width: unset !important; }
.slide__item-content h2 { font-size: 60px; line-height: 65px; font-weight: 600; }
.slide__item-content a.button { padding: 15px 20px; font-size: 17px; line-height: 30px; font-weight: 400; margin-top: 30px; text-transform: capitalize; }
.slide__item-content p { font-size: 18px; line-height: 30px; font-weight: 600; margin-top: 15px; }
.flex-data.grid img.card__image { position: relative; width: auto; height: auto; object-fit: contain; object-position: center; }
.collection-list-updated header { margin-bottom: 50px; }
.collection-list-updated .flex-data > .grid__item { width: calc(100%/3); padding: 0; }
.collection-list-updated .flex-data > .grid__item h3 { font-size: 18px; line-height: 30px; margin-top: 15px !important; }
.collection-list-updated .flex-data > .grid__item h3>a { font-weight: 600 !important;}
.btn-primary {
    padding: 15px 25px !important;
    font-size: 17px;
    line-height: 30px;
    margin-top: 10px;
    text-transform: capitalize !important;
    text-decoration: none;
    background-color: #fe3d05;
    border:1px solid #fe3d05;
    color: #ffffff !important;
    display: inline-block !important;
    border-radius: 4px;
    transition: all 0.35s ease-out;
}
.btn-primary:hover { background-color: transparent; color: #fe3d05 !important; transition: all 0.35s ease-in; }
.gallery-box-wr figcaption.below h3 { font-size: 22px; line-height: 30px; font-weight: 700; letter-spacing: -1px; margin: 20px 0 10px !important; }
h1, h2, h3 { font-weight: 600 !important; } 
.simple-collection ul.product-swatches { margin: 25px 0 0 !important; }
.simple-collection figcaption { margin-top: 20px; }
.simple-collection span.price { display: block; margin: 10px 0; font-size: 20px !important; line-height: 30px; font-weight: 700 !important; }
header h4 { font-weight: 700 !important; font-size: 32px !important; line-height: 40px; margin-bottom: 30px !important; }

span.collection-size-swatch { position: absolute; bottom: 0; display: flex; align-items: center; flex-wrap: wrap; }
.collection-size-swatch .size-values { margin: 0 5px 5px 0; background-color: #fff; min-width: 32px; height: 32px; border: 1px solid #cccccc91; color: #040f21; font-size: 14px; line-height: 30px; padding: 0 5px; }
.simple-collection input.btn.btn-primary { width: 100%; }
/* Footer */

footer.site-footer .grid { font-size: initial; display: flex; justify-content: space-between; margin: 0; }
footer.site-footer .grid .box { padding: 0 20px 0 0; width: 25%; text-align: left; }
footer.site-footer .grid .box:last-child { padding: 0; }
button#subscribe { background-color: #fe3d05; border: 1px solid #fe3d05; font-size: 17px !important; height: 44px; margin-top: 0; line-height: 0; }
footer.site-footer h4, footer.site-footer .h4 { font-weight: 500; }
.offer-email { margin-top: 15px; }
footer.site-footer .trust-badge--image { max-width: 250px; }
footer.site-footer .box.trust-badge { padding: 0; margin-bottom: 30px; }
.bottom-bar { display: flex; justify-content: space-between; align-items: center; flex-direction: row-reverse; position: relative; top: 30px; }
.bottom-bar>* { padding: 0 !important; width: 50%; text-align: left; }
footer.site-footer .box.payment-types { text-align: right; }