.contain-site-width, .wrapper { max-width: 1400px !important;margin: 0 auto; }
header.site-header nav.nav-bar ul.dropdown li a { font-size: 14px; line-height: 20px; color: #000; }
header.site-header nav.nav-bar ul.dropdown li a:hover { color: #fc01ff; }
footer.site-footer .menu ul li a { margin-bottom: 10px; display: block; font-size: 16px; line-height: 25px; }

/* Header */

span.icon.icon-search svg { width: 20px; height: 20px; }
a#CartButton svg { width: 22px; height: 22px; }


a#CartButton span#CartCount { position: absolute; right: -10px; background: #FC01FF; width: 20px; height: 20px; border-radius: 50%; top: -5px; text-align: center; font-size: 10px; line-height: 22px; color: #fff; }
header.util a#CartButton:hover svg path, header.util a#CartButton:focus svg path { fill: #000; }
header.util a#CartButton:hover, header.util a#CartButton:focus { background: transparent; }





.slideshow .contain-full-width.no-padding .wrapper { max-width: unset !important; }
.slide__item-content h2 { font-size: 60px; line-height: 65px; font-weight: 600; }
.slide__item-content a.button { padding: 15px 20px; font-size: 17px; line-height: 30px; font-weight: 400; margin-top: 30px; text-transform: capitalize; }
.slide__item-content p { font-size: 18px; line-height: 30px; font-weight: 600; margin-top: 15px; }
.flex-data.grid img.card__image { position: relative; width: auto; height: auto; object-fit: contain; object-position: center; }
.collection-list-updated header { margin-bottom: 50px; }
.collection-list-updated .flex-data > .grid__item { width: calc(100%/3); padding: 0; }
.collection-list-updated .flex-data > .grid__item h3 { font-size: 18px; line-height: 25px; margin-top: 15px !important; }
.collection-list-updated .flex-data > .grid__item h3>a { font-weight: 600 !important;}
.slide__item-image-contain.mobile .mob-img-updated + img.slide__image_this.slide__image.slide__image-mobile{display: none;}
.btn-primary {
    padding: 15px 25px !important;
    font-size: 17px;
    line-height: 30px;
    margin-top: 10px;
    text-transform: capitalize !important;
    text-decoration: none;
    background-color: #1A6CFC ;
    border:1px solid #1A6CFC ;
    color: #ffffff !important;
    display: inline-block !important;
    border-radius: 4px;
    transition: all 0.35s ease-out;
}
.btn-primary:hover { background-color: transparent; color: #1A6CFC !important; transition: all 0.35s ease-in; }
.gallery-box-wr figcaption.below h3 { font-size: 22px; line-height: 30px; font-weight: 700; letter-spacing: -1px; margin: 20px 0 10px !important; }
h1, h2, h3 { font-weight: 600 !important; } 
.simple-collection ul.product-swatches, .collection .product-swatches { margin: 0!important; position: absolute; }
/* .simple-collection figcaption, .collection figcaption { margin-top: 50px; } */
.featured-collection figcaption, .simple-collection figcaption, .collection figcaption { margin-top: 40px;}
.simple-collection span.price, .collection span.price { display: block; margin: 10px 0; font-size: 20px !important; line-height: 30px; font-weight: 700 !important; }
header h4 { font-weight: 700 !important; font-size: 32px !important; line-height: 40px; margin-bottom: 30px !important; }

span.collection-size-swatch {display: flex; align-items: center; flex-wrap: wrap; margin-bottom: 10px; }
.collection-size-swatch .size-values { margin: 0 5px 5px 0; background-color: #fff; min-width: 32px; height: 32px; border: 1px solid #cccccc91; color: #040f21; font-size: 14px; line-height: 30px; padding: 0 5px; }
.simple-collection input.btn.btn-primary, .collection input.btn.btn-primary { width: 100%; }
.section-standard .feature-row__item.feature-row__text { padding: 0 80px; }
/* Footer */

footer.site-footer .grid { font-size: initial; display: flex; justify-content: space-between; margin: 0; }
footer.site-footer .grid .box { padding: 0 20px 0 0; width: 25%; text-align: left; }
footer.site-footer .grid .box:last-child { padding: 0; }
button#subscribe { background-color: #fe3d05; border: 1px solid #fe3d05; font-size: 17px !important; height: 44px; margin-top: 0; line-height: 0; }
footer.site-footer h4, footer.site-footer .h4 { font-weight: 500; }
.offer-email { margin-top: 15px; }
footer.site-footer .trust-badge--image { max-width: 250px; }
footer.site-footer .box.trust-badge { padding: 0; margin-bottom: 30px; }
.bottom-bar { display: flex; justify-content: space-between; align-items: center; flex-direction: row-reverse; position: relative; top: 30px; }
.bottom-bar>* { padding: 0 !important; width: 50%; text-align: left; }
footer.site-footer .box.payment-types { text-align: right; }

/* body .jdgm-prev-badge[data-average-rating="0.00"], */
body .jdgm-preview-badge[data-template=index] { display: block!important; min-height: 30px; }
div#insta-feed { padding: 20px 0 50px !important; }

.simple-collection-section .product-title>a.title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 45px;
}
select#variant-select { visibility: hidden; position: absolute; }

.box.product select[id*=ProductSelect-] { width: 100%; height: 45px; padding: 0 10px; border-radius: 5px; }

div.gallery .box figcaption.below h3 { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 1; line-clamp: 1; -webkit-box-orient: vertical;  }
div.gallery .box figcaption.below p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    min-height: 80px;
}
.simple-collection input.btn.btn-primary[disabled] { background-color: #ccc; border-color: #ccc; }
span.error-size { display: block; margin: 10px 0 0; color: #ff0000; font-weight: 600; letter-spacing: 1px; text-align: center; }
.simple-collection .product-container .box span.error-size ~ span.error-size { display: none; }
.product_card__image-wrapper {  max-height: 325px; }
span.label.sale.label--top-left { top: 0; position: absolute; left: 0; }
.box.product select[id*=ProductSelect-] option:first-child { font-size: 0 !important;  }
.featured-collection figcaption span.from, .simple-collection figcaption span.from, .collection figcaption span.from { font-family: Poppins,sans-serif; color: #040f21; font-size: 16px; line-height: 1.2em; }

/* collection-page */
.label.sold-out{ position: absolute; top: 6px; right: 6px; }
.jdgm-widget.jdgm-widget { display: block !important; }
.discount_text { margin: 10px 0; }
.template-collection .collection figcaption .product-title a { overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; line-clamp: 2; -webkit-box-orient: vertical; min-height: 45px; }
header.collection-header>.container { border: none; text-align: left; margin-bottom: 30px; }

header.content-util nav.breadcrumb { text-align: left;  text-transform: capitalize; font-weight: 500; }
header.collection-header h1 { font-weight: 800!important; }
div#shopify-section-header { border-bottom: 1px solid #ccc; }
header.content-util ul.social-icons {  display: none; }
.template-collection .products.products-grid>.box.product>figure { box-shadow: 0 0 10px #0000001c; }
.template-collection .products.products-grid>.box.product ul.product-swatches { padding: 0 10px; }
.template-collection .products.products-grid>.box.product figcaption { padding: 0 10px 15px; }









@media(min-width:700px){
    header.site-header .layout-horizontal { top: -15px; }
    a#CartButton { position: absolute; padding: 0 !important; border: none !important; bottom: -38px; right: 0; }
    header.util li.search-wrap{position: absolute; right: 20px; bottom: -42px;}
    header.site-header .layout-horizontal nav.nav-bar { padding-right: 10%; }
  footer.site-footer h4 { margin-bottom: 30px; }
  
}
@media(max-width:1600px){
    .contain-site-width, .wrapper { max-width: 1170px !important; width: 96%; margin: 0 auto; }
    .contain-site-width>.wrapper { width: 100%; }
    a#CartButton { right: 3%; }
    header.util li.search-wrap {right: 5%;}
    .slideshow .contain-full-width.no-padding .wrapper { width: 100%; }
    .slide__item-content.justify-center .inner-wrapper .content-contain { max-width: 75%; }
    .flex-data.grid { margin: 0; }
    footer.site-footer .box.trust-badge,footer.site-footer .box.payment-types { border: none; }
  .gallery-box-wr figcaption.below h3 { font-size: 18px; line-height: 25px; }
  .btn-primary { padding: 8px 20px !important; font-size: 16px; line-height: 25px; }
  .gallery-box-wr figcaption.below div p { font-size: 14px; line-height: 20px; }
}
@media(max-width:1100px){
  .slide__item-content h2 { font-size: 40px; line-height: 50px; }
}
@media(max-width:900px){
/*    .slideshow-carousel.flickity-enabled .flickity-viewport { min-height: 500px; }
    .slideshow-carousel.flickity-enabled .flickity-viewport .slide__item-image, .slide__item-image-contain.desktop, .slide__item-image-contain.mobile { height: 100% !important; } */
    .section-standard { padding: 0; }

    footer.site-footer .grid { flex-wrap: wrap; }
    footer.site-footer .grid .box { width: 50% !important; margin-bottom: 30px; }
    .bottom-bar { top: -15px; }
}
@media(max-width:800px){
  .slide__item-content.justify-start .inner-wrapper .content-contain { max-width: 55%; }
  .slide__item-content h2 { font-size: 25px; line-height: 35px; }
  .slide__item-content p { font-size: 14px; line-height: 20px;}
  header.site-header.minimal nav.nav-bar ul.site-nav>li>a { padding: 6px; }
  header.site-header .layout-horizontal .logo-contain { flex-basis: 180px; }
}
@media(max-width:700px){
    header.util .left-wrapper ul.text-links li.search-wrap { display: block; position: absolute; bottom: -50px; right: 35px; }
    header.util a#CartButton { border: none; position: absolute; bottom: -47px; right: 0; }
    header.util .left-wrapper ul.text-links li.mobile-menu { position: absolute; bottom: -50px; border: none; padding: 0; margin: 0; }
    a#CartButton span#CartCount { right: 0; }
/*   .slideshow-carousel.flickity-enabled .flickity-viewport { min-height: 520px; } */
  footer.site-footer .menu ul li a { font-size: 14px; line-height: 20px; }
  footer.site-footer h4.activate { margin-bottom: 20px; }

    .gallery-section figure { width: 100%; max-width: unset !important; }
    .gallery-section .contain-site-width{ width: 100%; }
    .featured-row.section-standard .contain-site-width { width: 100%; padding: 0; }
    .gallery-section .contain-site-width .grid__item { margin-bottom: 50px; }
    .gallery-section .contain-site-width .grid__item figcaption.below { width: 96%; margin: 0 auto; }
    .featured-row.section-standard .contain-site-width .feature-row__item.feature-row__text { text-align: center; padding: 30px 0; width: 96%; }
   header.site-header.minimal .layout-horizontal .logo-contain { padding: 0; display: block; flex: auto; }
 header.site-header .layout-horizontal { top: -60px; z-index: 9999; width: 50%; margin: 0 auto; }
  header.site-header.minimal { height: 0; }
  header.util { height: 70px; }
  header.util .left-wrapper ul.text-links li.mobile-menu { left: 0; }
  header.util .search-wrapper { position: fixed; left: 0; right: 0; top: 0; bottom: 0; z-index: 9; }
  header.util .search-wrapper form.input-group.search-bar { margin-top: 110px !important; }
  header.util .search-wrapper form.input-group.search-bar { margin: 0; }
  header.util .search-wrapper form.input-group.search-bar { margin: 0; display: flex; align-items: center; }
  header.util .search-wrapper form.input-group.search-bar>* { padding: 0; }
  header.util .left-wrapper ul.text-links li.search-wrap{bottom: -20px; right: 25px;}
  header.util .left-wrapper ul.text-links li.mobile-menu,header.util a#CartButton{bottom: -18px;}
  header.util svg { height: 14px; width: 30px; }
.slideshow-carousel.flickity-enabled { height: 100%; }
/*  .slide__item-image-contain.mobile .mob-img-updated { object-fit: contain; background: #d1f550; object-position: 0 30px; } */
  .slide__item img.desktop-head { display: none; }
  .slide__item img.mobile-head { display: block !important; }
/*   .slide__item-content.align-center .inner-wrapper { position: absolute; bottom: 30px; left: 0; right: 0; text-align: left; max-width: 90%; margin: 0 auto; } */
  .slide__item-content.align-center .inner-wrapper .rte.content-contain { max-width: unset; }
  .slide__item-content.align-center .inner-wrapper { text-align: left;}
  .slide__item-content.justify-center .inner-wrapper .content-contain { max-width: inherit; width: 50%; margin: 0 0 0; }
  .slide__item-content .outer-wrapper { display: flex; align-items: end; }
  .slide__item-content.justify-start .inner-wrapper .content-contain,.slide__item-content.align-center .inner-wrapper { max-width: 100%; text-align: center; }

  /* Collection */
  .template-collection section.collection { padding-bottom: 40px; }
  .template-collection section.collection .grid { margin: 0; }
  .template-collection section.collection .collection-container { padding: 0; }
  .template-collection .products.products-grid { display: flex; flex-wrap: wrap; justify-content: space-between; margin: 0; }
  .template-collection .products.products-grid >.box.product { padding: 0; width: 49%; }
  
  
}
@media(max-width:650px){
  footer.site-footer .grid .box { width: 100% !important; padding: 0; margin: 0 0 20px; border-bottom: 1px solid #ffffff2b; padding-bottom: 5px; }
  footer.site-footer .grid .box>h4+div { display: none; border: none; margin-bottom: 10px; padding: 0; }
  footer.site-footer form { margin: 0; }
    footer.site-footer h4, footer.site-footer .h4 { position: relative; font-weight: 300; text-transform: capitalize; font-size: 18px; line-height: 30px; }
    footer.site-footer h4::after, footer.site-footer h4::before {
      position: absolute;
      content: '';
      background: #fff;
      width: 15px;
      height: 2px;
      right: 0;
      top: 15px;
      transition: transform 0.3s ease-in;
  }
  footer.site-footer h4::before { transform: rotate(90deg); transition: transform 0.3s ease-in; }
  footer.site-footer h4.activate:before { transform: rotate(180deg); transition: transform .3s ease-in; }
  .bottom-bar { flex-direction: column-reverse; align-items: flex-start; }
  .bottom-bar>* { width: 100%; text-align: center; }
  .bottom-bar { top: 0; }
  footer.site-footer .box.payment-types { text-align: center; }
  .simple-collection .product-container.slick-slider .slick-list { height: 100%; width: 100%; }
  .simple-collection { padding-left: 0 !important; padding-right: 0 !important; }
  .simple-collection .product-container .box { padding: 0 20px; }
  .logo-bar >.logo-bar__item { width: 18% !important; }
  .logo-bar >.logo-bar__item img { width: 100%; height: auto; }
  .gallery-section .contain-site-width { padding: 0; }

  header h4 {font-size: 20px!important; line-height: 30px !important;}
  .collection-list-updated header { margin-bottom: 30px; }
  .gallery-box-wr figcaption.below h3 { font-size: 18px; line-height: 25px; font-weight: 900 !important; letter-spacing: 0; }
  .gallery-box-wr figcaption.below p { font-size: 14px; line-height: 25px; }
  .gallery-section .contain-site-width .grid__item figcaption.below { width: 70%; }
  .simple-collection input.btn.btn-primary { width: 100%; padding: 10px !important; font-size: 18px !important; line-height: 30px;margin-top:20px; }
  footer.site-footer .box.trust-badge { text-align: left; }

  .template-collection .collection figcaption .product-title a, .discount_text, .jdgm-prev-badge__text { font-size: 14px; line-height: 20px; }
  .template-collection .collection figcaption span.price { font-size: 18px !important; line-height: 25px; margin-top: 5px; }
  .template-collection .label.sold-out { font-size: 14px; }
  header.collection-header h1 { font-size: 18px; }
}
@media(max-width:600px){
  img#dancer1{height: 250px !important; left: 70% !important; top: -14px !important;}
  
}
@media(max-width:480px){
/*   .slideshow-carousel.flickity-enabled .flickity-viewport { min-height: 50vh; } */
  .collection-list-updated .flex-data>.grid__item h3 { font-size: 14px; line-height: 20px;}
  div.collection-list .box a figure>img.card__image { width: auto; height: 60px; object-fit: contain; }
  h2 { font-size: 20px !important; line-height: 30px; margin-bottom: 10px !important; }
  div.featured-text .content { padding: 0 10%; }
  .slide__item-content.justify-center .inner-wrapper .content-contain { width: 100%; max-width: unset; }
  .gallery-section .contain-site-width .grid__item figcaption.below { width: 90%; }
  .slide__item-content.justify-center .inner-wrapper .content-contain{width: 80%;}
}
@media(max-width:375px){
  header.site-header .layout-horizontal { top: -55px;}
  .collection-list-updated .flex-data>.grid__item h3 { font-size: 12px; line-height: 17px; }
  div.collection-list .box a figure>img.card__image{height: 50px;}
  div.collection-list .box figcaption.below a { padding: 0; }
  img#dancer1 { height: 190px!important; left: 65%!important; top: -3px !important; }
}